<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".KaizoyuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_k_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:authorities="com.astarivi.kaizoyu.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:enabled="true"
            android:grantUriPermissions="true"
        >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/shared_paths"
            />
        </provider>
        <activity
            android:name=".fullsearch.FullSearchActivity"
            android:exported="true"
            android:label="@string/title_activity_fullsearch"
            android:screenOrientation="userPortrait"
            tools:ignore="LockedOrientationActivity"
        />
        <activity
            android:name=".details.AnimeDetailsActivity"
            android:exported="true"
            android:label="@string/title_activity_anime_details"
            android:screenOrientation="userPortrait"
            tools:ignore="LockedOrientationActivity"
        />
        <activity
            android:name=".search.SearchActivity"
            android:exported="true"
            android:label="AnimeSearch"
        />
        <activity
            android:name=".updater.UpdaterActivity"
            android:exported="true"
            android:label="UpdaterActivity"
            android:screenOrientation="userPortrait"
            tools:ignore="LockedOrientationActivity"
        />
        <activity
            android:name=".video.VideoPlayerActivity"
            android:supportsPictureInPicture="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout"
            android:label="@string/title_activity_video_player"
            android:screenOrientation="sensorLandscape"
            tools:targetApi="n"
        />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="userPortrait"
            tools:ignore="LockedOrientationActivity"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>